// Fonts
$font-family-body = FiraCustomFont, FiraCustomFont monospace
$font-family-mono = FiraCustomFont, FiraCustomFont monospace
$font-family-tt = "Inconsolata", monospace
$font-size = 14px
$line-height = 1.725
$page-width = 0rem + (39)
// Logo
$logo-width = 0px
$logo-height = 0px
// Colors
$colors = "dark"
